.header-backlink-anchor-wrapper {
	display: inline-block;
	width: 0;
	overflow: visible;
	vertical-align: middle;
}

.header-backlink-anchor {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #000;
	position: relative;
	right: 30px;
	width: 14px;
}

.theme-dark .header-backlink-anchor {
	color: #fff;
}

.header-backlink-anchor svg {
	width: 12px;
	height: 12px;
	stroke-width: 2px;
}
