.cm-header-backlink-gutter {
	width: 20px;
	flex-shrink: 0;
}

.cm-header-backlink-gutter .cm-gutterElement {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.header-backlink-anchor {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #000;
}

.theme-dark .header-backlink-anchor {
	color: #fff;
}

.header-backlink-anchor svg {
	width: 18px;
	height: 18px;
	stroke-width: 2.5px;
}
